{
	"ftcs":
	{
		"dt": 1,
		"dx": 0.01
	},
	"upwind":
	{
		"dt": 1,
		"dx": 0.01
	},

	"beam_warming":
	{
		"dt": 1,
		"dx": 0.01
	},

	"lax_wendroff":
	{
		"dt": 1,
		"dx": 0.01
	},

	"fromm":
	{
		"dt": 1,
		"dx": 0.01
	},

	"leapfrog":
	{
		"dt": 1,
		"dx": 0.01
	},

	"crank_nicolson":
	{
		"dt": 1,
		"dx": 0.01
	},

	"tspas":
	{
		"dt": 1,
		"dx": 0.01
	},

	"mpdata":
	{
		"dt": 1,
		"dx": 0.01,
		"iord": 3
	},

	"semi_lagrangian":
	{
		"dt": 1,
		"dx": 0.01,
		"dy": 0.01,
		"num_iteration": 2,
		"velocity_interp_method": "quadratic",
		"advect_interp_method": "cubic"
	},
  "ffsl_1d":
  {
    "dt": 1,
    "dx": 0.01,
    "flux_operator": "ppm",
    "limiter_type": "monotonic"
  },
  "ffsl_2d":
  {
    "dt": 1,
    "dx": 0.01,
    "dy": 0.01,
    "advective_operator": "from_flux_operator",
    "advect_interp_method": "linear",
    "flux_operator": "upwind",
    "limiter_type": "monotonic"
  }
}
