{
	"ftcs":
	{
		"dt": 1,
		"dx": 0.01
	},
	"upwind":
	{
		"dt": 1,
		"dx": 0.01
	},

	"beam_warming":
	{
		"dt": 1,
		"dx": 0.01
	},

	"lax_wendroff":
	{
		"dt": 1,
		"dx": 0.01
	},

	"fromm":
	{
		"dt": 1,
		"dx": 0.01
	},

	"leapfrog":
	{
		"dt": 1,
		"dx": 0.01
	},

	"crank_nicolson":
	{
		"dt": 1,
		"dx": 0.01
	},

	"tspas":
	{
		"dt": 1,
		"dx": 0.01
	},

	"mpdata":
	{
		"dt": 1,
		"dx": 0.01,
		"iord": 3
	}
}